<!DOCTYPE html>
<html>
<head>
    <title>Upload Pics</title>
</head>
<body>
<form id="form1" enctype="multipart/form-data" method="post" action="/">
<input type="file" name="pic"/>
<input type="submit" value="Upload" />
</form>
{% if pic_url %}
<button id="copy-button" data-clipboard-text="![]({{pic_url}})" title="Click to copy me.">{{pic_url}}</button>
<script type="text/javascript" src="/static/jquery.js"></script>
<script type="text/javascript" src="/static/ZeroClipboard.min.js"></script>
<script type="text/javascript">
ZeroClipboard.config( { moviePath: '/static/ZeroClipboard.swf' } );
var client = new ZeroClipboard($("#copy-button"));
</script>
{% endif %}
</body>
</html>
